---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

In [644]:
#pd.set_option('display.max_rows', df.shape[0]+1)
#dates = df.str.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}') # 0 -124
#dates = df.str.findall(r'(?:\d{1,2}/)?(?:\d{1,2}/)\d{2,4}')
#dates = df.str.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ ,.-]*(?:\d{1,2}[ ,.-]*\d{4})')
#dates = df.str.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ ,.-]*(?:\d{1,2}[ ,.-]*)?\d{4}') #125 -342
#dates = df.str.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}|(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ ,.-]*(?:\d{1,2}[ ,.-]*)?\d{4}') #0 - 342
#dates = df.str.findall(r'(?:\d{1,2}[ /]*)?(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ ,.-]*)?(?:\d{1,2}[ ,.-/]*)?\d{2,4}')
#dates = df.str.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}') # ^(\d{1,2}/\d{4})
#dates = df.str.findall(r'(?:\d{1,2}[/-]\d{1,2}[/-](?:[^3]{2}|\d{4}))')

#dates = df.str.findall(r'^(?:\d{1,2}/\d{4})|(?:\d{1,2}[/-]\d{1,2}[/-]\d{2,4})|(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ ,.-]*(?:\d{1,2}[ ,.-]*)?\d{4}|(?:19\d{2})|(?:20\d{2})')

#df.str.findall(r'(?:19\d{2})|(?:20\d{2})')

In [674]:
def date_sorter():
    
    # Your code here
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})' # MM/dd/YYYY
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})' # Mês dd, YYYY
    regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})' # dd Mês YYYY
    regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})' #Mês, YYYY
    regex5 = '(\d{1,2}[/-][1|2]\d{3})' # dd/YXXX ou dd-YXXX
    regex6 = '([1|2]\d{3})' # YXXX
    full_regex = '(%s|%s|%s|%s|%s|%s)' %(regex1, regex2, regex3, regex4, regex5, regex6)
    parsed_date = df.str.extract(full_regex)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date))
    parsed_date = parsed_date.sort_values(ascending=True).index
    return pd.Series(parsed_date.values)

date_sorter()

0      474
1      486
2      405
3      380
4      436
5      402
6      351
7      481
8      370
9      473
10     418
11     382
12     465
13     488
14     419
15     303
16     318
17     493
18     369
19     378
20     398
21     424
22     495
23     499
24     347
25     361
26     466
27     403
28     458
29     358
30     438
31     470
32     421
33     426
34     455
35     489
36     447
37     423
38     437
39     352
40     368
41     492
42     485
43     284
44     416
45     462
46     476
47     373
48     435
49     482
50     412
51     461
52     399
53     487
54     357
55     478
56     298
57     354
58     359
59     477
60     300
61     409
62     450
63     483
64     238
65     372
66     388
67     479
68     365
69     468
70     387
71     459
72     384
73     432
74     471
75     407
76     374
77     392
78     417
79     456
80     420
81     443
82     394
83     457
84     377
85     367
86     449
87     446
88     494
89     362
90     452
91     469
92     356
93     484
94     414
95     291
96     425
97     451
98     344
99     498
100    496
101    433
102    314
103    428
104    252
105    410
106    490
107    400
108    497
109    445
110    371
111    491
112    297
113    472
114    364
115    408
116    467
117    383
118    460
119    286
120    480
121    431
122    244
123    366
124    401
125    463
126    381
127    439
128    475
129    427
130    464
131     77
132    226
133    153
134    134
135     39
136    187
137    177
138    193
139     68
140    142
141    199
142    125
143    170
144     15
145     13
146    205
147    163
148    415
149    335
150    237
151    395
152    283
153    239
154    294
155    397
156    312
157    272
158    308
159    311
160    376
161    260
162    305
163    389
164    273
165    253
166    148
167    105
168    138
169      4
170    137
171    157
172     23
173    136
174    106
175     36
176    140
177     45
178    197
179    196
180     62
181    104
182    124
183     49
184    323
185    299
186    317
187    342
188    336
189    355
190    295
191    329
192    304
193    339
194    287
195     22
196    162
197    154
198      8
199    204
200    150
201    188
202     56
203     35
204      0
205     30
206     97
207    422
208    258
209    309
210    274
211    276
212    330
213    265
214    249
215    338
216    327
217    277
218    391
219    393
220    115
221     92
222     11
223      9
224     95
225    194
226     73
227     16
228     32
229     25
230     71
231     43
232    211
233     91
234     78
235     18
236    118
237    340
238    247
239    230
240    349
241    236
242    328
243    350
244    241
245    306
246    250
247    270
248    448
249    316
250    240
251    282
252    231
253    108
254    123
255    129
256    192
257     10
258     34
259     98
260    218
261    202
262    222
263     84
264      6
265     19
266     37
267     14
268     51
269    156
270    127
271    159
272    183
273    176
274    195
275    147
276    141
277    375
278    332
279    315
280    430
281    440
282    343
283    321
284    262
285    325
286    264
287    229
288     86
289    111
290     47
291    182
292     52
293    217
294    225
295    178
296    110
297      1
298    117
299     33
300    151
301     41
302    220
303     63
304    133
305    128
306     80
307    319
308    232
309    444
310    246
311    454
312    280
313    334
314    385
315    233
316    453
317    269
318    248
319    234
320    307
321    386
322     70
323      5
324     67
325     82
326      2
327     53
328     72
329    213
330     46
331    119
332     96
333    102
334     31
335    109
336     20
337     60
338    212
339    209
340     24
341    224
342    200
343     38
344     40
345     64
346    296
347    254
348    390
349    256
350     12
351    281
352    271
353    396
354    379
355    288
356    411
357     81
358     61
359     85
360     87
361    190
362     65
363    210
364    207
365    215
366     42
367     44
368    100
369    185
370    165
371    181
372     59
373    107
374    172
375    158
376     89
377    278
378    441
379    263
380    285
381    275
382    228
383    442
384    266
385    346
386    289
387    293
388    208
389    243
390    279
391    257
392     27
393     75
394    203
395    149
396    214
397    126
398     28
399     83
400    227
401     48
402     74
403     93
404    103
405     26
406      3
407    152
408    345
409    434
410    167
411    267
412    261
413    404
414    322
415    310
416    326
417    324
418    353
419    255
420    235
421    121
422    171
423     79
424    101
425    144
426    155
427    135
428     55
429    198
430     17
431    168
432     90
433    186
434    223
435    143
436    131
437    112
438    221
439    145
440    173
441    161
442    189
443    164
444     21
445    175
446    169
447    160
448    139
449    206
450     29
451      7
452    130
453     66
454    259
455    429
456    245
457    292
458    333
459    302
460    341
461    242
462    320
463    413
464     69
465    122
466    216
467    166
468    184
469    146
470     99
471     50
472    191
473    132
474     57
475    363
476    313
477    301
478    331
479    406
480    251
481    348
482    337
483    360
484    268
485    290
486    116
487    174
488     76
489     58
490     88
491     94
492    114
493    180
494    179
495    219
496    113
497    120
498    201
499     54
dtype: int64