In [1]:
import pandas as pd
import numpy as np
pd.Series?

In [4]:
np.nan

nan

In [35]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

In [36]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [37]:
df = df.set_index([df.index, 'Name'])
df

               Cost Item Purchased
        Name
Store 1 Chris  22.5       Dog Food
        Kevyn   2.5   Kitty Litter
Store 2 Vinod   5.0      Bird Seed

In [40]:
df.index.names = ['Location', 'Name']
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed

In [5]:
df = df.set_index([df.index, 'Name'])
df.index.names = ['Location', 'Name']
df = df.append(pd.Series(data={'Cost': 3.00, 'Item Purchased': 'Kitty Food'}, name=('Store 2', 'Kevyn')))
df

                Cost Item Purchased
Location Name
Store 1  Chris  22.5       Dog Food
         Kevyn   2.5   Kitty Litter
Store 2  Vinod   5.0      Bird Seed
         Kevyn   3.0     Kitty Food

---

In [4]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader

In [5]:
staff_df = staff_df.set_index('Name')

In [6]:
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

## Merging Dataframes Exercise

Here are two DataFrames, products and invoices. The product DataFrame has an identifier and a sticker price. Hte invoices DataFrame lists the people, products identifiers, and quantity. Assuming that we want to generate totals, how do wue join these two DataFrames together so that we have one which lists all of the information we need?

In [40]:
products_df = pd.DataFrame([{'Product ID': '4109', 'Price': '5.0', 'Product': 'Sushi Roll'},
                         {'Product ID': '1412', 'Price': '0.5', 'Product': 'Egg'},
                         {'Product ID': '8931', 'Price': '1.5', 'Product': 'Bagel'}])
products_df = products_df.set_index('Product ID')

invoices_df = pd.DataFrame([{'Costumer': 'Ali', 'Product ID': '4109', 'Quantity': '1'},
                         {'Costumer': 'Eric', 'Product ID': '1412', 'Quantity': '12'},
                         {'Costumer': 'Ande', 'Product ID': '8931', 'Quantity': '6'},
                         {'Costumer': 'Sam', 'Product ID': '4109', 'Quantity': '2'}])

from IPython.core import display as ICD
print'Products DataFrames:'
ICD.display(products_df)
print'Invoices DataFrames:'
ICD.display(invoices_df)

Products DataFrames:

           Price     Product
Product ID
4109         5.0  Sushi Roll
1412         0.5         Egg
8931         1.5       Bagel

Invoices DataFrames:

  Costumer Product ID Quantity
0      Ali       4109        1
1     Eric       1412       12
2     Ande       8931        6
3      Sam       4109        2

In [39]:
pd.merge(products_df, invoices_df, left_index=True, right_on='Product ID')

  Price     Product Costumer Product ID Quantity
0   5.0  Sushi Roll      Ali       4109        1
3   5.0  Sushi Roll      Sam       4109        2
1   0.5         Egg     Eric       1412       12
2   1.5       Bagel     Ande       8931        6

In [41]:
d

NameError: name 'd' is not defined